<body>
	<div class="container">
		<div class="row">


		 <div class="col-xs-9">
		 	<h2>welcome to <strong>Bookers</strong> !!</h2>
		 	about
		 </div>

		 <div class="col-xs-3">
		 </div>




</body>